{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
</head>
<body>
	<div>
		<form method="get">
			{% csrf_token %}
			{{ form }}
		<input type="submit" placeholder="Checa los precios papi"/>
	</form>
	</div>
	{% if precio %}
	<div>
		<p>El precio promedio del producto que buscas es de: </p>
		<h3>$ {{ precio }}</h3>
	</div>
	{% endif %}
	<div>
		<p>Si tienes preguntas pendientes, da click en el siguiente botón para que las conteste por tí. </p>
		<form method="post" action="{% url 'landing:bot' %}" >
			{% csrf_token %}
			<input type="submit" placeholder="¡Contéstalas!">
		</form>
	</div>
</body>
</html>